@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

body {
  display: grid;
  place-content: center;
  min-width: 350px;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #e0e8ff;
  background-image: url(./images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  font-family: Red Hat Display;
}

.card {
  width: 450px;
  height: 697px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.15);
}

.card-img {
  width: 450px;
  height: 220px;
  flex-shrink: 0;
  border-radius: 20px 20px 0px 0px;
  background: #382ae1;
}

.card-info {
  padding: 48px;
  text-align: center;
}

.card-info-title {
  color: #1f2e55;
  font-size: 28px;
  font-weight: 900;
}

.card-info-description {
  margin-top: 17px;
  color: #717fa6;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}

.card-info-plan {
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding: 25px;
  border-radius: 11px;
  background: #f7f9ff;
}
.card-info-plan img:first-child {
  margin-right: 20px;
}
.card-info-plan a:last-child {
  margin-left: auto;
}

.card-info-plan-pack {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.card-info-plan-pack-name {
  color: #1f2e55;
  font-size: 16px;
  font-weight: 900;
}

.card-info-plan-pack-price {
  color: #717fa6;
  font-size: 16px;
  font-weight: 500;
}

.card-info-plan-edit {
  color: #382ae1;
  font-size: 14px;
  font-weight: 700;
}

.card-info-plan-edit:hover {
  color: #766cf1;
  text-decoration: none;
}

.card-info-btn {
  width: 100%;
  padding: 15px 0;
  margin-top: 32px;
  border-radius: 11px;
  background: #382ae1;
  box-shadow: 0px 20px 20px 0px rgba(56, 42, 225, 0.19);
  color: #fff;
  font-size: 15px;
  font-weight: 900;
}

.card-info-btn:hover {
  background: #766cf1;
}

.card-info-cancel {
  display: block;
  margin-top: 32px;
  color: #717fa6;
  font-size: 15px;
  font-weight: 900;
  text-decoration: none;
}

.card-info-cancel:hover {
  color: #1f2e55;
}

@media (max-width: 800px) {
  body {
    background-image: url(./images/pattern-background-mobile.svg);
  }
}
